<!DOCTYPE html>
<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <link rel="stylesheet" type='text/css' href='static/styles.css'>
    <style>
    </style>
</head>
<body>

    <div class="jumbotron container-fluid metal linear">
        <div class="container-fluid" style="text-align:center">
            <h1 style="margin:auto">RoboDJ</h1>
            <!--
            <button id="login-button">LOG IN</button>
            <button id="token-button">TOKEN</button>
-->
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            
            {{#each deckIDs}}
            
            <div class="col-sm-6 column" id={{this.[0]}} style="text-align:center;">
                <h2>{{@key}}</h2>    
                
                <table id="{{this.[1]}}" style="margin: auto">
                    <tr><td>
                        
                        <input type="file" id="{{this.[2]}}" accept=".wav,.mp3,.ogg" style="margin:auto">
                        
                    </td></tr>
                    <tr><td class="metal linear">
                        <button class="smallButton rewind"></button>
                        <button id="{{this.[3]}}" class="startButton"></button>
                        <button class="smallButton FF"></button>
                        
                        <!--
                        <input type="range" id="{{this.[4]}}" value="100" style="height: 50px; margin:auto; -webkit-appearance: slider-vertical">
                        -->
                        
                    </td></tr>
                    <tr><td>
                        <div id="{{this.[5]}}" class="waveform"></div>
                        <canvas id="{{this.[6]}}" class="visualizer metal" style="width:50%; margin:10px"></canvas>
                        <canvas id="{{this.[7]}}" class="metal2" height="60" style="border:1px solid black; width:100%; background-color: #fff; margin-bottom: 20px"></canvas>
                        
                    </td></tr>
                </table>
            
            
            </div>
            
            {{/each}}
            
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-sm-12 column linear" id={{this.[0]}} style="text-align:center">
                <div class="" style="text-align:center; height:100px; padding:0px">
                <button id="metronomeButton">Metronome ON / OFF</button>
                    <div class="xFaderDiv metal2">
                <input type="range" id="xFader" value="50"></div>
                </div>
                    
                    
                    
                <div id="hiddenContainer" style="display:none">
                <div id="hiddenDiv"></div>
                <canvas id="hiddenCanvas" syle="border:1px solid black"></canvas>
                <button id="hiddenPlayPause">Play/Pause</button>
            </div>
        </div>
    
    
    
    <!--
    <div><button id="playButton">Play</button></div>
    <div><button id="stopButton">Stop</button></div>
    <div><button id="sampleButton">Play Sample</button></div>
    
    <div id="waveform"></div>

    <canvas class="visualizer"></canvas>
    
    <canvas id="graph" height="200" width="100%" style="border:1px solid black"></canvas>
    -->
    <script src="{{audio}}"></script>
    <script src="{{tests}}"></script>
</body>
</html>